<div class="loginPage background-img">
  <div class="mainLoginBlock">
    <div class="inputBlock">
      <h1 class="loginTitle">Hello again</h1>
      <p class="loginSubtitle">Please sign in to continue</p>
      <ui-input placeholder="Enter login" label="login" type="email" [(value)]="login" />
      <ui-input
        label="Password"
        placeholder="Enter password"
        type="password"
        [(value)]="password"
      />

      <button class="loginButton" (click)="submit()">Submit</button>
      <div class="otherLoginMethots">
        <button (click)="signInWithGoogle()" class="googleButton">
          <img src="/assets/google-icon-white-bg.jpg" />
        </button>
        <button (click)="signInWithApple()" class="appleButton"><mat-icon>apple</mat-icon></button>
      </div>
      <div class="register">
        <p class="registerText">
          Don’t have an account?
          <a class="registerLink">Create one</a>
        </p>
      </div>
    </div>
    <div class="imgBlock">
      <img src="assets/loginPageImg.jpg" alt="login" />
    </div>
  </div>
</div>
